<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>JS Homeworks Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="css/fonts-css.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">
  <!-- Page Wrapper -->
	<div w3-include-html="DashboardTemplate.html"></div> 
  <!-- End of Page Wrapper -->

	<!-- Scroll to Top Button Here -->
	<div w3-include-html="ScrollToTopButtonTemplate.html"></div>
	<!-- End of Scroll to Top Button -->


  <!-- Bootstrap core JavaScript and other data ....-->
</body>